.availablevacancies {
	/* text-align: left !important; */
	display: flex;
	margin: 0;
	padding: 0;
	/* background-color: #000000; */
}

.availablevacancies .main-header {
	/* margin: 5% 12% 0 12%; */
	/* font-size: 1.8rem; */

	position: absolute;
	/* width: 90rem; */
	/* height: 119px; */
	left: 8rem;
	top: 2rem;
	font-family: "Josefin Sans";
	font-style: normal;
	font-weight: 400;
	font-size: 2rem;
	line-height: 0.8rem;
	letter-spacing: 0.2em;
	color: #000000;
}

.availablevacancies table {
	margin-top: 10%;
	width: 70%;
	border-collapse: separate;
	border-spacing: 10px;
	margin-left: 15%;
}

.availablevacancies table h2 {
	font-family: "Josefin Sans";
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	line-height: 16px;
	/* or 40% */
	text-align: center;
	color: #973490;
}

.availablevacancies table .users {
}

.availablevacancies .users .user {
	border: 2px solid #a3a3a32f;
	padding-left: 2%;
	border-radius: 65px;
	/* margin-bottom: 2%; */
}

.availablevacancies table .users .user p {
	font-size: 1.2rem;
	margin-left: 2rem;
	margin-top: 1.4rem;
	font-family: 'Josefin Sans';
	font-weight: bold;
}

.availablevacancies .users .user .details {
	/* margin-left: 8%; */
	display: flex;
	justify-content: space-between;
}

.availablevacancies .users .user button {
	margin: 1% 2% 0 0;
	width: 20%;
	height: 2rem;
	border: none;
	border-radius: 15px;
	background-color: #4C00B0;
	color: #ffffff;
}

.availablevacancies .users .user button:hover {
	background-color: #122511;
}
/* 
.availablevacancies .users .user .details p {
    margin-top: -6%;
}  */
