.OrderAll {
	position: relative;
	width: 100%;
	min-height: 100vh;
}

.OrderAll .history {
	/* margin-left: 12rem; */
	background-color: #c9b3e7;
	height: 40rem;
	width: 70rem;
	margin-left: 8rem;
	border-radius: 15px;
}

.OrderAll h2 {
	padding-top: 2rem;
	margin-left: 6rem;
}

.OrderAll table {
	position: absolute;
	/* margin-top: 5%; */
	width: 60%;
	/* border-collapse: separate; */
	/* border-spacing: 10px; */
	margin-left: 12.5rem;
	/* background-color: #000000; */
	text-align: center;
	background-color: #ffffff;
}

.OrderAll table thead {
	font-size: 1.2rem;
	margin-bottom: 2rem;
	/* background-color: #000000; */
	height: 6rem;
}

.OrderAll table tr {
	height: 76%;
	border-width: 15px;
	margin-left: 12%;
	text-align: center;
	height: 3rem;
}

.OrderAll table tr td {
	text-align: center;
}

.OrderAll .sidebar {
	width: 100%;
}

.OrderAll .sidebar button {
	margin-top: 2rem;
	width: 12.5rem;
	height: 2.8rem;
	border: none;
	border-left: 4px solid #ece9e9;

	/* border-radius: 5px; */
	background-color: #ffffff;
}

.OrderAll .top-nav {
	background-color: #ffffff;
	height: 4rem;
	width: 80.9%;
	margin-left: 12.5rem;
}

.OrderAll .top-nav ul {
	display: flex;
	list-style: none;
}

.OrderAll .top-nav ul li {
	padding-top: 1rem;
	margin-left: 6rem;
}

.OrderAll .top-nav ul li a {
	text-decoration: none;
}

.OrderAll button a{
	text-decoration: none;
	border: none;
}

.OrderAll button{
	border: none;
	background-color: transparent;
}
 .OrderAll button.delete {
	width: 75px;
	color: red;
	margin-top: 12px;
	border: none;
	border-radius: 8px;
	background-color: transparent;

} 



.OrderAll button .edit {
	width: 75px;
	color: #807e00;
	margin-top: 12px;
	border: none;
	border-radius: 8px;
	background-color: transparent;
}

.OrderAll button a.take {
	width: 75px;
	color: blue;
	margin-top: 12px;
	border: none;
	border-radius: 8px;
	background-color: transparent;
	
	
}
.OrderAll button.pay {
	width: 75px;
	color: blue;
	margin-top: 12px;
	border: none;
	border-radius: 8px;
	background-color: transparent;
	
	
}



