.paymentHistory {
	position: relative;
	width: 100%;
	min-height: 100vh;
}

.paymentHistory .history {
	/* margin-left: 12rem; */
	background-color: #c9b3e7;
	height: 40rem;
	width: 70rem;
	margin-left: 8rem;
	border-radius: 15px;
}

.paymentHistory h2 {
	padding-top: 2rem;
	margin-left: 6rem;
}

.paymentHistory table {
	position: absolute;
	/* margin-top: 5%; */
	width: 60%;
	/* border-collapse: separate; */
	/* border-spacing: 10px; */
	margin-left: 12.5rem;
	/* background-color: #000000; */
	text-align: center;
	background-color: #ffffff;
}

.paymentHistory table thead {
	font-size: 1.2rem;
	margin-bottom: 2rem;
	/* background-color: #000000; */
	height: 6rem;
}

.paymentHistory table tr {
	height: 76%;
	border-width: 15px;
	margin-left: 12%;
	text-align: center;
	height: 3rem;
}

.paymentHistory table tr td {
	text-align: center;
}

.paymentHistory .sidebar {
	width: 100%;
}

.paymentHistory .sidebar button {
	margin-top: 2rem;
	width: 12.5rem;
	height: 2.8rem;
	border: none;
	border-left: 4px solid #ece9e9;

	/* border-radius: 5px; */
	background-color: #ffffff;
}

.paymentHistory .top-nav {
	background-color: #ffffff;
	height: 4rem;
	width: 80.9%;
	margin-left: 12.5rem;
}

.paymentHistory .top-nav ul {
	display: flex;
	list-style: none;
}

.paymentHistory .top-nav ul li {
	padding-top: 1rem;
	margin-left: 6rem;
}

.paymentHistory .top-nav ul li a {
	text-decoration: none;
}
